<div class="sidebar">
  <div class="about">
    <div class="me">
      <h2 class="name">{{blogInfos | async | meInfo:'username'}}</h2>
      <p>{{blogInfos | async | meInfo:'careerdirection'}}</p>
    </div>
    <div class="about-link">
      <ul>
        <li *ngFor="let myinfo of myinfos | async"><a href="{{myinfo.link}}" target="_blank" title="{{myinfo.name}}"><i
          class="{{myinfo.ico}}"></i></a></li>
      </ul>
    </div>
  </div>
  <nav class="nav">
    <ul>
      <li *ngFor="let menu of menus | async"><a (click)="navLink(menu)">{{menu.name}}</a></li>
    </ul>
  </nav>
  <div class="info" [innerHtml]="blogInfos | async | meInfo:'footerinfo'"></div>
</div>
